<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" routerLink="/">Firebase Chat DEMO (Angular 2) </a>
        </div>
        <div class="pull-right">
            <ul class="nav navbar-nav">
                <li *ngIf="appService.user == undefined "><button routerLink="register" class="btn navbar-btn btn-primary" name="registerUser" id="registerUser" value="Register User">Register</button></li>
                <li *ngIf="appService.user != undefined "><button routerLink="logout" class="btn navbar-btn btn-danger" name="logout" id="logout" value="Log Out">Log Out</button></li>
            </ul>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>